* {
    padding: 0;
    margin: 0;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 30px;
    box-sizing: border-box;
}

#home-h1 {
    font-size: 20px;
}

.home-login-button {
    background: none;
    border: none;
    margin-right: 10px;
}

.home-signup-button {
    padding: 10px;
    background-color: rgb(115, 168, 115);
}

#home-main {
    margin-top: 200px;
    text-align: center;
}

.home-h2 {
    font-size: 40px;
    margin: 20px 0 20px 0;
}

#home-signup-form {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

#home-signup-input {
    border: none;
}

.home-signup-form-button {
    background-color: rgb(115, 168, 115);
    padding: 10px;
}

/********************** Login Signup ***********************/

#login-signup {
    display: none;
}

#login-signup #login-signup-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#login-signup-header {
    padding: 30px;
}

.login-signup-container {
    background-color: rgb(243, 243, 243);
    padding: 100px;
}

.login-signup-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 70px;
}

#login-form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#signup-form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.loginPElement,
.signupPElement {
    margin-bottom: 60px;
    font-size: 20px;
}

#username-form,
#password-form {
    font-size: 15px;
    padding: 5px;
    width: 250px;
}

#login-go-button,
#signup-go-button {
    padding: 5px 10px 5px 10px;

}

.profile-images {
    display: flex;
    gap: 20px;
}

.chick-profile {
    width: 70px;
    height: 70px;
    background-size: contain;
    border-radius: 50%;
    background-image: url("../media/img/chick.jpeg");
}

.chick-profile:hover {
    border: 3px solid rgb(115, 168, 115);
    box-sizing: border-box;
}

.cow-profile {
    width: 70px;
    height: 70px;
    background-size: contain;
    border-radius: 50%;
    background-image: url("../media/img/cow.jpeg");
}

.cow-profile:hover {
    border: 3px solid rgb(115, 168, 115);
    box-sizing: border-box;
}

.pig-profile {
    width: 70px;
    height: 70px;
    background-size: contain;
    border-radius: 50%;
    background-image: url("../media/img/pig.jpeg");
}

.pig-profile:hover {
    border: 3px solid rgb(115, 168, 115);
    box-sizing: border-box;
}