* {
    padding: 0;
    margin: 0;
}

/********************** Background Image ***********************/

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../media/img/background4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

/********************** Home ***********************/

a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
    color: black;
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 30px;
    box-sizing: border-box;
}

#home-h1 {
    font-size: 30px;
    color: white;
}

.home-login-button {
    background: none;
    border: none;
    font-size: 20px;
    margin-right: 20px;
    color: white;
}

.home-signup-button {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(115, 168, 115);
}

#home-main {
    margin-top: 200px;
    text-align: center;
    background-color: rgba(243, 243, 243, 0.862);
    padding: 80px;
    border-radius: 10px;
}

.home-h2 {
    font-size: 50px;
    margin: 20px 0 20px 0;
}

.home-top-quote, .home-bottom-quote {
    font-size: 20px;
}

#home-signup-form {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#home-signup-input {
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.home-signup-form-button {
    background-color: rgb(115, 168, 115);
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

/********************** Login Signup ***********************/

#login-signup {
    display: none;
}

#login-signup #login-signup-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#login-signup-header {
    padding: 30px;
}

.login-signup-container {
    background-color: rgba(243, 243, 243, 0.862);
    padding: 50px;
    min-height: 500px;
    border-radius: 10px;
}

.login-signup-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 70px;
}

#login-form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#signup-form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.signupPElement {
    display: none;
}

.loginPElement,
.signupPElement {
    margin-bottom: 60px;
    font-size: 30px;
}

#username-form,
#password-form {
    font-size: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}

#createUsername-form,
#createPassword-form {
    font-size: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}

#login-go-button,
#signup-go-button {
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 15px;
}

.profile-images {
    display: flex;
    gap: 20px;
}

.chick-profile {
    width: 90px;
    height: 90px;
    background-size: contain;
    border-radius: 50%;
    background-image: url("../media/img/chick.jpeg");
}

.chick-profile:hover {
    border: 3px solid rgb(115, 168, 115);
    box-sizing: border-box;
    cursor: pointer;
}

.cow-profile {
    width: 90px;
    height: 90px;
    background-size: contain;
    border-radius: 50%;
    background-image: url("../media/img/cow.jpeg");
}

.cow-profile:hover {
    border: 3px solid rgb(115, 168, 115);
    box-sizing: border-box;
    cursor: pointer;
}

.pig-profile {
    width: 90px;
    height: 90px;
    background-size: contain;
    border-radius: 50%;
    background-image: url("../media/img/pig.jpeg");
}

.pig-profile:hover {
    border: 3px solid rgb(115, 168, 115);
    box-sizing: border-box;
    cursor: pointer;
}

/********************** Signup Image ***********************/

.selected-profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: contain;
    display: none;
    margin: 0;
}

.selected-chick {
    background-image: url('../media/img/chick.jpeg');
}

.selected-cow {
    background-image: url('../media/img/cow.jpeg');
}

.selected-pig {
    background-image: url('../media/img/pig.jpeg');
}
