body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#mainContent {
    margin-left: 200px;
    padding: 20px;
  }

#postsList {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }

  #postsList img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  #userID {
    margin: 0;
  }

  #postText {
    margin-top: 10px;
  }

  #comment {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #comment:hover {
    background-color: #0056b3;
  }

  #sidebar {
    width: 165px;
    height: 100%;
    background-color: #007bff;
    position: fixed;
    padding: 20px;
  }

  #profileSection {
    width: 165px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    padding: 20px;
  }
  #profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  #postForm {
    margin-bottom: 20px;
  }
  
  #postForm input,
  #postForm textarea,
  #postForm button {
    display: block;
    margin-bottom: 10px;
    width: 100%; /* Gör formulärets element fullbredd */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #postForm button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #postForm button:hover {
    background-color: #0056b3;
  }
  